<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936910079665-mi5c1rm1pedf95ulb7nv6cpd5kmtctut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936910079665-mi5c1rm1pedf95ulb7nv6cpd5kmtctut</string>
	<key>API_KEY</key>
	<string>AIzaSyCEuegOps3ZxHhhRbPJIgofbPWqPR9mkAM</string>
	<key>GCM_SENDER_ID</key>
	<string>936910079665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redhoshi.musicmm</string>
	<key>PROJECT_ID</key>
	<string>mmmm-56c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>mmmm-56c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936910079665:ios:b26b99b3048f12508f4490</string>
</dict>
</plist>